<!-- <html>
<head>
<script type="text/javascript"
  src="dygraph.js"></script>
<link rel="stylesheet" src="dygraph.css" />
</head>
<body>
  <h3>hai</h3>
<div id="graphdiv"></div>
<script type="text/javascript">
  g = new Dygraph(

    // containing div
    document.getElementById("graphdiv"),

    // CSV or path to a CSV file.
    "Date,Temperature\n" +
    "2008-05-07,75\n" +
    "2008-05-08,70\n" +
    "2008-05-09,80\n"

  ); -->
<!-- </script>
</body>
</html> -->
<!DOCTYPE html>
<html>
<head>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/dygraph/1.1.0/dygraph-combined.js"></script>

  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
    <h3 style="width:800px; text-align: center;">Live random data</h3>
    <div id="div_g" style="width:800px; height:400px;"></div>

</body>
</html>
